<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: white;
            background-size: cover;
            background-position: center;
            height: 100vh;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .signup-container {
            background: #d1d5e1;
            border-radius: 10px;
            padding: 20px;
            width: 400px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="signup-container p-5">
        <h2 class="pb-5">SignUp Here</h2>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group ">
                <input type="text" class="form-control" placeholder="first_name" name="first_name" required>
            </div>
            <div class="form-group ">
                <input type="text" class="form-control" placeholder="last_name" name="last_name" required>
            </div>
            <div class="form-group ">
                <input type="text" class="form-control" placeholder="username" name="username" required>
            </div>
            <div class="form-group ">
                <input type="email" class="form-control" placeholder="email"  name="email" required>
            </div>
            <div class="form-group ">
                <input type="password" class="form-control" placeholder="Password" name="password" required>
            </div>
            <div class="form-group ">
                <input type="password" class="form-control" placeholder="Conform Password" name="c-password" required>
            </div>

                <a href="{% url 'login' %}">
                    <input class="btn btn-primary" type="submit" value="Submit">
                </a>
                {% if messages%}
        {% for message in messages %}
        <div>
            {{message}}
        </div>
        {% endfor %}
        {% endif %}

        </form>

        
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>